.navigation {
  margin-bottom: 30px;

  &__link {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #4a4a4a;
    background: white;
    border: solid 2px #4a4a4a;
    border-right: none;
    font-weight: bold;
    box-shadow: 3px 5px #4a4a4a;

    &:visited {
      color: inherit;
    }

    &:last-of-type {
      border-right: solid 2px #4a4a4a;
      ;
    }
    
    &:hover {
      background-color: rgba(#4a4a4a, 0.7);
      color:white;
    }
    &.active {
      background-color: #99ccff;
    }

  }
}